.group-item-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.avatar-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  border-radius: 50%;
}

.privacy-indicator {
  position: absolute;
  right: -60%;
  top: 0;
  background: #c0c0c0;
}

.avatar-image {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  display: flex;
  background-size: cover;
  background-position: center;
}

.button {
  border: none;
}

.friends-list {
  display: flex;
}
